<p id="notice"><%= notice %></p>

<p>
  <b>Module:</b>
  <%= @program.module %>
  <br>
  <%= link_to "Units", program_units_path(@program) %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
