<p id="notice"><%= notice %></p>

<p>
  <b>Module:</b>
  <%= @program.module %>
  <br>
  <b>Units:</b>
  <ul>
    <% @program.units.each do |unit| %>
    <li><%= unit.title %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
