<!DOCTYPE html>
<html>
<head>
  <title>TeachPlanner</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="side">
  <strong>Páginas</strong>
  <ul>
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Programas", programs_path %></li>
    <li><%= link_to "Unidades", units_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
